@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1> Bienvenido :)</h1>
        <h1> Perfil de Administrador</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
         <h1> Bienvenido :)</h1>
        <h1> Perfil de Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h2>Ingrese su codigo y su contraseña</h2>
    </NotAuthorized> 
</AuthorizeView>
